#ignore debug folder
seeker/debug/

#ignore auth
seeker/scraper/auth.json
#ignore trained model
seeker/naivebayes/trained_model

#ignore bayes db
seeker/bayesian/file_train
seeker/bayesian/file_db/*

#ignore install egg
*.egg-info
#ignore instance
instance
#ignore pytest cache
*pytest_cache

#ignore pyc file
*.pyc

#ignore gedit file
*~

#ignore eclipse workspace
.project
.pydevproject
.settings
