#ignore redis
redis-stable

#ignore translations
*.mo

#ignore virtual env
venv
.env

#ignore db
app.db

#ignore log
logs

#ignore pyc file
*.pyc

#ignore gedit file
*~

#ignore eclipse workspace
.project
.pydevproject
.settings
