      {% include 'case/case_his.html' %}
      {% include 'case/case_new.html' %}



$('[data-toggle="tabajax"]').click(function(e) {
    var $this = $(this),
        loadurl = $this.attr('href'),
        targ = $this.attr('data-target');

    $.get(loadurl, function(data) {
        $(targ).html(data);
    });

    $this.tab('show');
    return false;
});
$(document).ready(function(){
    $('[data-toggle="tabajax"]:first').click();
});

$(document).ready(function() {
    $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
    //$('#myTab a').on('click', function (e) {
        alert("FF");
        $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
    } );
});