{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Show Case{% endblock %}</h3>
{% endblock %}

{% block content %}
  <!-- DataTables -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="true">History</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="new-tab" data-toggle="tab" href="#new" role="tab" aria-controls="new" aria-selected="false">New</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="search-tab" data-toggle="tab" href="#search" role="tab" aria-controls="search" aria-selected="false">Search</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="history" role="tabpanel" aria-labelledby="history-tab">history...
      {% include 'case/case_his.html' %}
    </div>
    <div class="tab-pane fade" id="new" role="tabpanel" aria-labelledby="new-tab">new...
      {% include 'case/case_new.html' %}
    </div>
    <div class="tab-pane fade" id="search" role="tabpanel" aria-labelledby="search-tab">search...</div>
  </div>

  <script>
  $(document).ready(function() {
      $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
          //var target = $(e.target).attr("href"); // activated tab
          //alert (target);
          $($.fn.dataTable.tables( true ) ).css('width', '100%');
          $($.fn.dataTable.tables( true ) ).DataTable().columns.adjust().draw();
      } ); 
  });
  </script>

  <!-- Case Details Modal -->
  <div class="modal fade bd-example-modal-lg" id="case_details_modal" tabindex="-1" role="dialog" aria-labelledby="case_details_modal_title" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="case_details_modal_title">Case Details: </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 66%">Loading ...</div>
          </div>
        </div>
        <div class="modal-footer">
          <div>
            <a href="#" class="badge badge-secondary" data-dismiss="modal">Close</a>
          </div>
        <!-- 
          <form method="post">
            <div class="form-check form-check-inline">
              <label>Validation:</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
              <label class="form-check-label" for="inlineRadio1">yes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">no</label>
            </div>
            <div>
              <a href="#" class="badge badge-secondary" data-dismiss="modal">Close</a>
              <a href="#" class="badge badge-secondary" type="submit">Save</a>
            </div>
          </form>
         -->
        </div>
      </div>
    </div>
  </div>
  
  <script>
    $('#case_details_modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var case_id = button.data('case-id') // Extract info from data-* attributes
      var modal = $(this)
      var data={
        'case_id':case_id,
      }
      //alert(JSON.stringify(data));
      $.ajax({
        type:'POST',
        url:'{{ url_for("case.show_case_details") }}',
        data:JSON.stringify(data),
        contentType:'application/json',
        dataType:'json',
        success:function(ret_data){
          //var case_details = JSON.stringify(ret_data);
          var case_details = ret_data.case_details
          //alert(case_details);
          modal.find('.modal-title').text('Case Details: '+case_id);
          modal.find('.modal-body').html(case_details);
        }
      });
    })
  </script>
{% endblock %}