<thead>
  <tr>
    <th>Case_ID</th>
    <th>Details</th>
    <th>Predict</th>
    <th>Validate</th>
    <th>Case_Date</th>
    <th>Status</th>
    <th>Case_Cover</th>
    <th>Bug_Cover</th>
  </tr>
</thead>
<!-- Replaced by server-side processing -->
<!--
  <tbody>
    {% for case in cases %}
      <tr>
        <td>{{ case["case_id"] }}</td>
        <td>details</td>
        <td>{{ case["predict"] }}</td>
        <td>{{ case["validate"] }}</td>
        <td>{{ case["case_date"] }}</td>
        <td>{{ case["case_cover"] }}</td>
        <td>{{ case["bug_cover"] }}</td>
      </tr>
    {% endfor %}
  </tbody>
  <script>
    $(document).ready(function() {
      $('#show_case_table').DataTable({
        ordering: false
      });
    } );
  </script>
-->